<div class="container-advisors">
    <h2 class="text-center">Consulta con nuestros asesores</h2>
    <p class="text-center">
        En Bariatric, creemos que cada paciente es único y necesita un enfoque personalizado.<br>
        Por eso, trabajamos con un equipo de profesionales altamente capacitados que ofrecen <br> servicios especializados en el tratamiento de la obesidad.
    </p>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="row g-0">
                    <div class="col-4 col-md-4">
                        <img src="./assets/img/Gaby12.png" class="img-fluid rounded-start" alt="Gabriela Cabezas">
                    </div>
                    <div class="col-8 col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Gabriela Cabezas</h5>
                            <p class="card-text">"Nuestra experta en nutrición y asesora en Bariatric, te guía en la mejor alternativa para tu bienestar. Con su formación en Nutrición y Dietética y un Diplomado en Endocrinología Metabólica, combina ciencia y experiencia para orientarte en cada paso. Déjate asesorar por los mejores."</p>
                            <a href="https://link.admente.com/widget/bookings/nutricionista-cx-revisional" class="btn btn-primary">Agendar Ahora</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="row g-0">
                    <div class="col-4 col-md-4">
                        <img src="./assets/img/matias.jpg" class="img-fluid rounded-start" alt="Matías Cantillana">
                    </div>
                    <div class="col-8 col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Matías Cantillana</h5>
                            <p class="card-text">Nuestro enfermero coordinador en Bariatric te acompaña en cada paso. Con experiencia en salud pública y normativa sanitaria, ha trabajado en Seremi de Salud Ñuble, asesorando programas ministeriales y velando por el bienestar de la comunidad. Vocación y compromiso para cuidar tu salud.</p>
                            <a href="https://link.admente.com/widget/bookings/bariatricmcantillana" class="btn btn-primary">Agendar Ahora</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>