
<div class="procedimiento">
    <h2 class="text-center text-primary">Balón Intragástrico Spatz3</h2>
    <div class="row mt-4">
        <div class="col-md-6">
            <p id="descripcionProcedimiento">
                El Balón Intragástrico SPATZ3 es un dispositivo temporal diseñado para ayudar a las personas a perder peso de manera efectiva. Este procedimiento mínimamente invasivo consiste en colocar un balón ajustable dentro del estómago, lo que reduce la capacidad gástrica y promueve una sensación de saciedad. Es una opción ideal para quienes buscan una alternativa no quirúrgica para el control del peso.
            </p>
            <h4><strong>Resultados esperados:</strong></h4>
            <ul>
                <li>Pérdida de peso significativa durante el período de uso.</li>
                <li>Mejora en la calidad de vida y en la salud metabólica.</li>
                <li>Reducción de factores de riesgo asociados a la obesidad.</li>
            </ul>
            <h4><strong>Beneficios:</strong></h4>
            <ul>
                <li>Procedimiento mínimamente invasivo.</li>
                <li>Dispositivo ajustable para mayor comodidad.</li>
                <li>Opción temporal y no quirúrgica.</li>
                <li>Ideal para pacientes con obesidad moderada.</li>
            </ul>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#contactModal" onclick="cargarFormulario('balon')">Contactanos</button>
        </div>
        <div class="col-md-6">
            <!--<video class="img-fluid" controls>
                <source src="./assets/videos/bypass.mp4" type="video/mp4">
                Tu navegador no soporta videos.
            </video>-->
            <iframe width="480" height="270" src="https://www.youtube.com/embed/aeB-TmDEnow" title="Balón Intragástrico SPATZ3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <!-- Botones de navegación entre procedimientos -->
        <div class="text-center mt-4" id="botonesProcedimientos">
            <button class="btn btn-outline-primary" onclick="cargarProcedimiento('magdi')">Bypass Magnético Magdi</button>
            <button class="btn btn-outline-primary" onclick="cargarProcedimiento('bariatricas')">Cirugías Bariátricas</button>
            <!--<button class="btn btn-outline-primary" onclick="cargarProcedimiento('balon')">Balón Intragástrico SPATZ3</button>-->
            <button class="btn btn-outline-primary" onclick="cargarProcedimiento('clinifit')">Método Clinifit</button>
            <button class="btn btn-outline-primary" onclick="cargarProcedimiento('revisionales')">Cirugías Revisionales</button>
        </div>
       