
<div class="procedimiento">
    <h2 class="text-center text-primary">Cirugías Bariatricas</h2>
    <div class="row mt-4">
        <div class="col-md-6">
            <p id="descripcionProcedimiento">
                Las cirugías bariátricas son procedimientos quirúrgicos diseñados para ayudar a las personas con obesidad a perder peso de manera significativa y mejorar su salud metabólica. Estas intervenciones no solo promueven la pérdida de peso, sino que también pueden revertir enfermedades como la diabetes tipo 2 y reducir el riesgo de enfermedades cardiovasculares.
            </p>
            <h4><strong>Tipos de Cirugías Bariátricas:</strong></h4>
            <ul>
                <li><strong>Manga Gástrica:</strong> Reduce el tamaño del estómago para limitar la ingesta de alimentos.</li>
                <li><strong>Bypass Gástrico:</strong> Redirige el sistema digestivo para reducir la absorción de calorías.</li>
            </ul>
            <h4><strong>Beneficios:</strong></h4>
            <ul>
                <li>Pérdida de peso significativa y duradera.</li>
                <li>Puede revertir la diabetes tipo 2.</li>
                <li>Reducción de enfermedades metabólicas y cardiovasculares.</li>
                <li>Ambas opciones están disponibles con Bono PAD, facilitando el acceso con cobertura FONASA.</li>
            </ul>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#contactModal" onclick="cargarFormulario('bariatricas')">Contactanos</button>
        </div>
        <div class="col-md-6">
            <video class="img-fluid" controls>
                <source src="./assets/video/videobariatricas.mp4" type="video/mp4">
                Tu navegador no soporta videos.
            </video>
        </div>
        <!-- Botones de navegación entre procedimientos -->
        <div class="text-center mt-4" id="botonesProcedimientos">
            <button class="btn btn-outline-primary" onclick="cargarProcedimiento('magdi')">Bypass Magnético Magdi</button>
            <!--<button class="btn btn-outline-primary" onclick="cargarProcedimiento('bariatricas')">Cirugías Bariátricas</button>-->
            <button class="btn btn-outline-primary" onclick="cargarProcedimiento('balon')">Balón Intragástrico SPATZ3</button>
            <button class="btn btn-outline-primary" onclick="cargarProcedimiento('clinifit')">Método Clinifit</button>
            <button class="btn btn-outline-primary" onclick="cargarProcedimiento('revisionales')">Cirugías Revisionales</button>
        </div>
        
</div>
</div>
