
<div class="procedimiento">
    <h2 class="text-center text-primary">Cirugías Bariatricas</h2>
    <div class="row mt-4">
        <div class="col-md-6">
            <p>Son procedimientos para tratar la obesidad y mejorar la salud metabólica.<br>

                <strong>Manga Gástrica</strong> <br>
                 Reduce el estómago en un 80%, formando un tubo delgado.<br>
                 ✔  Menos hambre (menos grelina).<br>
                 ✔  Menos invasiva y recuperación rápida.<br>
                 ✔  Pérdida de peso efectiva con menor riesgo nutricional.<br>
                
                 <strong>Bypass Gástrico</strong> <br>
                  Crea una pequeña bolsa estomacal conectada al intestino delgado.<br>
                ✔  Mayor pérdida de peso.<br>
                ✔  Puede revertir la diabetes tipo 2.<br>
                ✔  Efecto duradero y reducción de enfermedades metabólicas.
                <br><br>
                <em><strong> Ambas pueden realizarse con Bono PAD, facilitando el acceso a estos tratamientos con cobertura FONASA.</strong></em>
                </p>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#contactModal" onclick="cargarFormulario('bariatricas')">Contactanos</button>
        </div>
        <div class="col-md-6">
            <video class="img-fluid" controls>
                <source src="./assets/video/videobariatricas.mp4" type="video/mp4">
                Tu navegador no soporta videos.
            </video>
        </div>
        <!-- Botones de navegación entre procedimientos -->
        <div class="text-center mt-4" id="botonesProcedimientos">
            <button class="btn btn-outline-primary" onclick="cargarProcedimiento('bypass')">Bypass Magdi</button>
            <button class="btn btn-outline-primary" onclick="cargarProcedimiento('bariatricas')">Cirugías Bariátricas</button>
            <button class="btn btn-outline-primary" onclick="cargarProcedimiento('balon')">Balón Intragástrico SPATZ3</button>
            <button class="btn btn-outline-primary" onclick="cargarProcedimiento('clinifit')">Método Clinifit</button>
            <button class="btn btn-outline-primary" onclick="cargarProcedimiento('revisionales')">Cirugías Revisionales</button>
        </div>
        
</div>
</div>
