<div id="imcModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeIMCCalculator()">&times;</span>
        <h2>Calculemos tu IMC</h2>
        <p>Conocer tu Indice de Masa Corporal nos permite:<br>
            Evaluar si la cirugía bariátrica es una opción viable para ti.<br>
            Tomar decisiones para mejorar la salud de las poblaciones</p>
        <form id="imcForm" class="row g-3">
            <div class="col-md-6">
                <label for="inputPeso" class="form-label">Ingrese su Peso</label>
                <input type="number" class="form-control" id="inputPeso" required>
            </div>
            <div class="col-md-6">
                <label for="inputTalla" class="form-label">Ingrese su Estatura</label>
                <input type="number" class="form-control" id="inputTalla" required>
            </div>
            <div class="col-md-6">
                <label for="inputEdad" class="form-label">Indique su Edad</label>
                <input type="number" class="form-control" id="inputEdad" required>
            </div>
            <div class="col-md-4">
                <label for="inputGenero" class="form-label">Seleccione su género</label>
                <select id="inputGenero" class="form-select" required>
                    <option value="">...</option>
                    <option value="Femenino">Femenino</option>
                    <option value="Masculino">Masculino</option>
                </select>
            </div>
            <div class="col-12 text-center">
                <button type="button" class="btn btn-primary" onclick="calcularIMC()">Calcular IMC</button>
            </div>
            
            <p id="resultadoIMC" class="text-center"></p>
            <div class="col-12 text-center">
                <button type="button" class="btn btn-secondary" id="btnSolicitarInfo" style="display: none;" onclick="solicitarInfo()">
                     Más información
                </button>
            </div>
        </form>
    </div>
</div>