
<div class="procedimiento">
    <h2 class="text-center text-primary">Método Clinifit</h2>
    <div class="row mt-4">
        <div class="col-md-6">
            <p>El método Clinifit es un curso de 12 semanas que ayuda a las personas a perder peso. Este método incluye apoyo profesional en línea, tareas, videos, y sesiones en vivo con un doctor.  <br><br>
                 Resultados esperados:<br>
                ✔ Curso de 12 semanas con apoyo profesional en línea<br>
                ✔ 35 tareas diseñadas para resultados efectivos<br>
                ✔ Videos con orientación médica y rutinas de ejercicios<br>
                ✔ Sesiones mensuales en vivo con el Doctor Barros<br>
                ✔ No requiere cirugía</p>
                </p>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#contactModal" onclick="cargarFormulario('clinifit')">Contactanos</button>
        </div>
        <div class="col-md-6">
           <!-- <video class="img-fluid" controls>
                <source src="./assets/videos/bypass.mp4" type="video/mp4">
                Tu navegador no soporta videos.
            </video>-->
            <iframe width="480" height="270" src="https://www.youtube.com/embed/b8YuSUpbCWM" title="Método Clinifit - Bienvenida General" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <!-- Botones de navegación entre procedimientos -->
        <div class="text-center mt-4" id="botonesProcedimientos">
            <button class="btn btn-outline-primary" onclick="cargarProcedimiento('magdi')">Bypass Magnético Magdi</button>
            <button class="btn btn-outline-primary" onclick="cargarProcedimiento('bariatricas')">Cirugías Bariátricas</button>
            <button class="btn btn-outline-primary" onclick="cargarProcedimiento('balon')">Balón Intragástrico SPATZ3</button>
            <!--<button class="btn btn-outline-primary" onclick="cargarProcedimiento('clinifit')">Método Clinifit</button>-->
            <button class="btn btn-outline-primary" onclick="cargarProcedimiento('revisionales')">Cirugías Revisionales</button>
        </div>
        
    </div>
</div>
