<!-- Sección de Contacto -->
<section class="contact-section container mt-5" id="contact-us">
    <div class="row">
        <!-- Formulario desde CRM -->
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <iframe 
                src="https://link.admente.com/widget/form/B01j4Xmb0hw1PC7ro89C"
                style="width:85%;height:500px;border:none;border-radius:25px;"
                id="inline-B01j4Xmb0hw1PC7ro89C" 
                data-layout="{'id':'INLINE'}"
                data-trigger-type="alwaysShow"
                data-trigger-value=""
                data-activation-type="alwaysActivated"
                data-activation-value=""
                data-deactivation-type="neverDeactivate"
                data-deactivation-value=""
                data-form-name="FORM Bienvenida"
                data-height="600"
                data-layout-iframe-id="inline-B01j4Xmb0hw1PC7ro89C"
                data-form-id="B01j4Xmb0hw1PC7ro89C"
                title="FORM Bienvenida">
            </iframe>
            <script src="https://link.admente.com/js/form_embed.js"></script>
        </div>

        <!-- Información de Contacto -->
        <div class="col-md-6 contact-info">
            <h2 class="text-primary"><strong>Contáctanos</strong></h2>
            <p><i class="bi bi-phone"></i> <a href="tel:+56991606336">+569 9160 6336</a></p>
            <p><i class="bi bi-envelope-at"></i> <a href="mailto:info@jenner.cl">info@jenner.cl</a></p>
            <p><i class="bi bi-geo-alt"></i> <a href="https://www.google.com/maps/place/Av.+Nueva+Tajamar+481,+oficina+1602,+Torre+Norte,+WTC+Santiago" target="_blank">
                Av. Nueva Tajamar 481 Oficina 1602, <br> Torre Norte | WTC Santiago</a>
            </p>
            
            <!-- Mapa de Google Maps con dirección exacta -->
            <div class="map-container">
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.1784566821147!2d-70.57294462357882!3d-33.41624149734559!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf3cfa2f22e1%3A0x41b7bc2f49a87e23!2sAv.+Nueva+Tajamar+481%2C+oficina+1602%2C+Torre+Norte%2C+WTC+Santiago!5e0!3m2!1ses!2scl!4v1710367200000!5m2!1ses!2scl"
                    width="75%" height="300" style="border:0;" allowfullscreen="" loading="lazy">
                </iframe>
            </div>
        </div>
    </div>
</section>