
 <!-- Sección Bono PAD de Fonasa -->
 <section id="section-fonasa">
    <div class="container fonasa-container">
        <img src="./assets/img/logoFNS.png" alt="Logo Fonasa">
        <h2 class="text-primary">Bono PAD de Fonasa</h2>
        <p class="fonasa-info">
            Con el Bono PAD de Fonasa, puedes acceder a nuestras cirugías bariátricas con cobertura garantizada.
            Este beneficio te permite recibir el mismo tratamiento bariatrico de calidad a precios accesibles.
        </p>
        
        <h3 class="text-secondary">Valores de Cirugías con Bono PAD</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Manga Gástrica $2.446.870 CLP</strong> </li>
            <li class="list-group-item"><strong>Bypass Gástrico $2.732.310 CLP</strong></li>
         </ul>
         <p class="fonasa-copago">
             <em>Si no cumples con los requisitos del BONO PAD, recuerda que puedes acceder al COPAGO  de Fonasa, consulta todas las alternativas con nuestros asesores.</em>
        </p>
        
        <a href="https://link.admente.com/widget/form/agendarHora" class="btn">Agendar con Asesor</a>
    </div>
</section>