<section id="section-gallery" class="container mt-5">
    <h2 class="text-center text-primary">Conoce nuestro trabajo</h2>
    <p class="text-center mb-4">En Bariatric trabajamos de la mano con grandes equipos humanos multidisciplinarios, con equipos tecnológicos y dispositivos con los más altos estandares, para garantizar el éxito de cada procedimiento y el cuidado de nuestros pacientes.</p>
    <div class="gallery-container">
        <div class="gallery-item">
            <img src="./assets/img/galeria1.jpg" alt="Manga Gástrica">
            <div class="gallery-item-info">
                <h3>Implementación de Pabellón</h3>
                <p>Contamos con equipos de última tecnología para garantizar la seguridad y el éxito de las cirugías.</p>
            </div>
        </div>
        <div class="gallery-item">
            <img src="./assets/img/galeria2.jpg" alt="Bypass Gástrico">
            <div class="gallery-item-info">
                <h3>Equipos multidisciplinarios</h3>
                <p>Para llevar a cabo tu cirugía o procedimiento, contamos con un completo equipo multidisciplinario, quienes trabajan arduamente en el cumplimiento de las normas y estandares de salud, para que tu cirugía sea segura.</p>
            </div>
        </div>
        <div class="gallery-item">
            <img src="./assets/img/galeria3.jpg" alt="Balón Intragástrico">
            <div class="gallery-item-info">
                <h3>revisar texto</h3>
                <p>.....</p>
            </div>
        </div>
        <div class="gallery-item">
            <img src="./assets/img/galeria4.jpg" alt="Cirugías de Revisión">
            <div class="gallery-item-info">
                <h3>revisar texto</h3>
                <p>.....</p>
            </div>
        </div>
        <div class="gallery-item">
            <img src="./assets/img/galeria5.jpg" alt="Bariclip">
            <div class="gallery-item-info">
                <h3>Tecnologias Médicas</h3>
                <p>Bariatric trabaja de la mano con Jenner Healthcare, lo que nos asegura innovar en equipos para la pérdida de peso.</p>
            </div>
        </div>
        <div class="gallery-item">
            <img src="./assets/img/galeria6.jpg" alt="Equipo de Pabellón">
            <div class="gallery-item-info">
                <h3>Dispositivos de uso Biológico</h3>
                <p>Contamos con dispositivos de ultima generación, como el balon intragástrico Spatz, que además de favoreer la perdida de peso, permite hacer reajustes y lograr un verdadero cambio de vida.</p>
            </div>
        </div>
    </div>
</section>