<header class="main-header">
    <div class="container">
        <div class="logo">
            <img src="./assets/img/logoBariatric.png" alt="Bariatric Logo" height="60">
        </div>
        <nav class="main-nav">
            <ul class="nav-list">
                <li class="nav-item"><a class="nav-link" href="index.html">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="about.html">Nosotros</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="surgery.html" id="cirugiasDropdown" role="button">Procedimientos</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="surgery.html?procedimiento=magdi">Bypass Magnético Magdi</a></li>
                        <li><a class="dropdown-item" href="surgery.html?procedimiento=bariatricas">Cirugías Bariátricas</a></li>
                        <li><a class="dropdown-item" href="surgery.html?procedimiento=balon">Balón Intragástrico SPATZ3</a></li>
                        <li><a class="dropdown-item" href="surgery.html?procedimiento=clinifit">Método Clinifit</a></li>
                        <li><a class="dropdown-item" href="surgery.html?procedimiento=revisionales">Cirugías Revisionales</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="contact.html">Contáctanos</a></li>
                <li class="nav-item"><a class="nav-link" href="testimonials.html">Experiencias Bariatric</a></li>
            </ul>
        </nav>
        <button class="menu-toggle" aria-label="Toggle navigation">
            <span class="menu-icon"></span>
        </button>
    </div>
</header>