
<div class="procedimiento">
    <h2 class="text-center text-primary">Bypass Magnético Magdi</h2>
    <div class="row mt-4">
        <div class="col-md-6">
            <p id="descripcionProcedimiento">
                El Bypass Magnético Magdi es un procedimiento innovador diseñado para tratar condiciones metabólicas como la diabetes de difícil control, la reganancia de peso tras una Manga Gástrica o para quienes buscan una alternativa bariátrica menos invasiva. 
                Este procedimiento utiliza un dispositivo magnético único que no requiere cortes, suturas ni grapas, lo que lo convierte en una opción ambulatoria y menos invasiva.
            </p>
            <h4><strong>Resultados esperados:</strong></h4>
            <ul>
                <li>Hasta un 80% de remisión de la diabetes tipo 2.</li>
                <li>Pérdida de peso significativa.</li>
            </ul>
            <h4><strong>Beneficios:</strong></h4>
            <ul>
                <li>Sin cortes, suturas ni grapas.</li>
                <li>Procedimiento ambulatorio.</li>
                <li>Único dispositivo aprobado por la FDA.</li>
            </ul>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#contactModal" onclick="cargarFormulario('magdi')">Contactanos</button>
             </div>
        <div class="col-md-6">
            <!--<video class="img-fluid" controls>
                <source src="./assets/videos/bypass.mp4" type="video/mp4">
                Tu navegador no soporta videos.-->
            </video>
            <iframe width="480" height="270" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.instagram.com%2Fdrcamiloboza%2Freel%2FDEmw8knxt5M%2F&psig=AOvVaw1Ine-9nDWCI_v4LW8fDgaR&ust=1742570922026000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCOi8pNv8mIwDFQAAAAAdAAAAABAE"></iframe>
            
        </div>
        <!-- Botones de navegación entre procedimientos -->
<div class="text-center mt-4" id="botonesProcedimientos">
    <!--<button class="btn btn-outline-primary" onclick="cargarProcedimiento('magdi')">Bypass Magnético Magdi</button>-->
    <button class="btn btn-outline-primary" onclick="cargarProcedimiento('bariatricas')">Cirugías Bariátricas</button>
    <button class="btn btn-outline-primary" onclick="cargarProcedimiento('clinifit')">Método Clinifit</button>
    <button class="btn btn-outline-primary" onclick="cargarProcedimiento('revisionales')">Cirugías Revisionales</button>
    <button class="btn btn-outline-primary" onclick="cargarProcedimiento('balon')">Balón Intragástrico SPATZ3</button>
</div>
        
    </div>
</div>
