<section class="container mt-5 video-section">
    <h2 class="text-center text-primary">Conoce nuestras cirugías y procedimientos</h2>
    <p class="text-center mb-4">Mira algunos de nuestros videos para conocer más sobre nuestros procedimientos y campañas.</p>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="video-container">
                <iframe src="https://www.instagram.com/reel/DG5xwTCRTo1/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/VIDEO_ID_2" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>