<section class="container mt-5 video-section">
    <h2 class="text-center text-primary">Conoce nuestras cirugías y procedimientos</h2>
    <p class="text-center mb-4">Mira algunos de nuestros videos para conocer más sobre nuestros procedimientos y campañas.</p>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="video-container">
                <video controls>
                    <source src="./assets/video/videoHome.mp4" type="video/mp4">
                    Tu navegador no soporta la etiqueta de video.
                </video>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="video-container">
                <video controls>
                    <source src="./assets/video/videoHome2.mp4" type="video/mp4">
                    Tu navegador no soporta la etiqueta de video.
                </video></div>
        </div>
    </div>
</section>