
<div class="procedimiento">
    <h2 class="text-center text-primary">Cirugías Revisionales</h2>
    <div class="row mt-4">
        <div class="col-md-6">
            <p>Son procedimientos correctivos para pacientes que han tenido una cirugía bariátrica previa y necesitan ajustes debido a reganancia de peso, complicaciones o falta de resultados esperados.

                <br>¿Cuándo se realizan?<br>
                ✔ paciente recupera peso post cirugía bariatrica.<br>
                ✔ Complicaciones como reflujo severo o deficiencias nutricionales.<br>
                ✔ Ajustes en la anatomía para mejorar resultados.<br><br>
                
                 <strong>tipos de cirugías revisionales:</strong> <br>
                 ✔ Revisión de Manga Gástrica → Convertirla en Bypass Gástrico.<br>
                 ✔ Ajuste de Bypass Gástrico → Modificar conexiones intestinales.<br>
                 ✔ Colocación de anillo Mminimizer, para mejores y resultados duraderos.<br>
                 ✔Cirugías Metabólicas<br>
                </p>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#contactModal" onclick="cargarFormulario('revisionales')">Contactanos</button>
              </div>
        <div class="col-md-6">
            <video class="img-fluid" controls>
                <source src="./assets/videos/bypass.mp4" type="video/mp4">
                Tu navegador no soporta videos.
            </video>
        </div>
        <!-- Botones de navegación entre procedimientos -->
        <div class="text-center mt-4" id="botonesProcedimientos">
            <button class="btn btn-outline-primary" onclick="cargarProcedimiento('magdi')">Bypass Magnético Magdi</button>
            <button class="btn btn-outline-primary" onclick="cargarProcedimiento('bariatricas')">Cirugías Bariátricas</button>
            <button class="btn btn-outline-primary" onclick="cargarProcedimiento('balon')">Balón Intragástrico SPATZ3</button>
            <button class="btn btn-outline-primary" onclick="cargarProcedimiento('clinifit')">Método Clinifit</button>
           <!-- <button class="btn btn-outline-primary" onclick="cargarProcedimiento('revisionales')">Cirugías Revisionales</button>-->
        </div>
       
    </div>
</div>
