<section class="container mt-5 text-center p-4 bg-light shadow rounded">
    <h2 class="text-primary">¿Cómo podemos ayudarte?</h2>
    <div class="row mt-4">
        <div class="col-md-3">
            <a href="https://link.admente.com/widget/bookings/bariatricmcantillana" class="text-decoration-none">
                <img src="./assets/img/agendaIcon.png" alt="Agendar Hora" class="img-fluid" style="width:80px;">
                <h5 class="mt-2">Agendar Hora</h5>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" class="text-decoration-none">
                <img src="./assets/img/llamadaIcon.png" alt="Necesitas que te contactemos?" class="img-fluid" style="width:80px;">
                <h5 class="mt-2">¿Necesitas que te contactemos?</h5>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" class="text-decoration-none" onclick="openIMCCalculator()">
                <img src="./assets/img/calculatorIcon.png" alt="Calcular tu IMC" class="img-fluid" style="width:80px;">
                <h5 class="mt-2">Calcular tu IMC</h5>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#contacto" class="text-decoration-none">
                <img src="./assets/img/informationIcon.png" alt="Más Información" class="img-fluid" style="width:80px;">
                <h5 class="mt-2">Más Información</h5>
            </a>
        </div>
    </div>
</section>