


<section class="container mt-4 text-center p-4 bg-primary text-white rounded">
    <h3>Síguenos en Redes</h3>
    <div class="d-flex justify-content-center gap-4">
        <a href="https://www.facebook.com/Bariatric.cl" target="_blank" class="text-white fs-3"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/Bariatric.cl" target="_blank" class="text-white fs-3"><i class="bi bi-instagram"></i></a>
        <a href="https://www.tiktok.com/@Bariatricchile" target="_blank" class="text-white fs-3"><i class="bi bi-tiktok"></i></a>
        <a href="https://wa.me/56991606336" target="_blank" class="text-white fs-3"><i class="bi bi-whatsapp"></i></a>
    </div>
</section>