<section class="social-media-section container mt-4 text-center p-4 rounded">
    <h3 class="text-primary">Síguenos en Redes</h3>
    <div class="d-flex flex-wrap justify-content-center gap-4 mt-3">
        <a href="https://www.facebook.com/Bariatric.cl" target="_blank" class="social-icon text-white">
            <i class="bi bi-facebook"></i>
        </a>
        <a href="https://www.instagram.com/Bariatric.cl" target="_blank" class="social-icon text-white">
            <i class="bi bi-instagram"></i>
        </a>
        <a href="https://www.tiktok.com/@Bariatricchile" target="_blank" class="social-icon text-white">
            <i class="bi bi-tiktok"></i>
        </a>
        <a href="https://wa.me/56991606336" target="_blank" class="social-icon text-white">
            <i class="bi bi-whatsapp"></i>
        </a>
    </div>
</section>