
<section class="about-section">
    <div class="about-container">
        <img src="../assets/img/equipo2.jpg" class="about-image" alt="Nuestro Equipo Médico">
        <div class="about-overlay">
            <div class="about-card mission">
                <h3>Misión</h3>
                <p>Brindar atención de calidad en el ámbito de la cirugía bariátrica con un enfoque centrado en el
                    paciente y su bienestar.</p>
            </div>
            <div class="about-card vision">
                <h3>Visión</h3>
                <p>Ser la institución líder en cirugía bariátrica, proporcionando un servicio seguro, innovador y
                    humano.</p>
            </div>
            <div class="about-card values">
                <h3>Valores</h3>
                <p>Compromiso, ética, innovación y excelencia en el cuidado de nuestros pacientes.</p>
            </div>
        </div>
    </div>
</section>