
<div class="procedimiento">
    <h2 class="text-center text-primary">Balón Intragástrico Spatz3</h2>
    <div class="row mt-4">
        <div class="col-md-6">
            <p>Este método consiste en la colocación de un balón en el estómago mediante endoscopía, 
                ayudando a reducir la cantidad de alimentos que consumes. El Spatz3 es el único balón 
                ajustable, lo que permite mejorar los resultados a lo largo de 12 meses. <br><br>
                 Resultados esperados:<br>
                ✔ Pérdida de 10 al 15%  de tu peso corporal inicial.<br><br>
                 Beneficios:<br>
                ✔ No requiere cirugía <br>
                ✔ Rejustable para mejores resultados, A diferencia de otros similares. <br>
                ✔ Procedimiento rápido y seguro</p>
                </p>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#contactModal" onclick="cargarFormulario('balon')">Contactanos</button>
        </div>
        <div class="col-md-6">
            <video class="img-fluid" controls>
                <source src="../assets/videos/bypass.mp4" type="video/mp4">
                Tu navegador no soporta videos.
            </video>
        </div>
        <!-- Botones de navegación entre procedimientos -->
        <div class="text-center mt-4" id="botonesProcedimientos">
            <button class="btn btn-outline-primary" onclick="cargarProcedimiento('bypass')">Bypass Magdi</button>
            <button class="btn btn-outline-primary" onclick="cargarProcedimiento('bariatricas')">Cirugías Bariátricas</button>
            <button class="btn btn-outline-primary" onclick="cargarProcedimiento('balon')">Balón Intragástrico SPATZ3</button>
            <button class="btn btn-outline-primary" onclick="cargarProcedimiento('clinifit')">Método Clinifit</button>
            <button class="btn btn-outline-primary" onclick="cargarProcedimiento('revisionales')">Cirugías Revisionales</button>
        </div>
       