/* Paleta de colores */
:root {
    --primary-color: #00296b;
    --secondary-color: #003f88;
    --tertiary-color: #00509d;
    --accent-color: #fdc500;
    --light-accent-color: #ffd500;
    --cuarter-color: #ffffff;
}

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    color: var(--primary-color);
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    margin: 0 0 20px 0;
}

p {
    color: var(--secondary-color);
    margin: 0 0 20px 0;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--accent-color);
}

/* Estilos para el header */
.main-header {
    background: var(--primary-color);
    padding: 15px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1050;
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 110px;
}

.main-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin-left: 20px;
    position: relative;
}

.nav-link {
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--accent-color);
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--secondary-color);
    border: none;
    backdrop-filter: blur(10px);
    list-style: none;
    padding: 10px;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
}

.dropdown-item:hover {
    background: var(--tertiary-color);
    color: var(--light-accent-color);
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* Estilos para el menú móvil */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 28px;
    color: #ffffff;
}

.menu-icon {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    display: block;
    position: relative;
    transition: all 0.3s;
}

.menu-icon::before,
.menu-icon::after {
    content: '';
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    display: block;
    position: absolute;
    transition: all 0.3s;
}

.menu-icon::before {
    top: -10px;
}

.menu-icon::after {
    bottom: -10px;
}

/*fin header*/

html {
    scroll-behavior: smooth;
}
/* Estilos para las tarjetas de los asesores */
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 100%;
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1f255f;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: #555;
    text-align: justify;
    flex-grow: 1;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.2s, transform 0.2s;
}

.btn-primary:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.img-fluid {
    border-radius: 10px 0 0 10px;
}

.text-center {
    margin-bottom: 40px;
    margin-top: 60px;
}

/*fin de asesores*/
/* Carousel */
.carousel img {
    height: 500px;
    object-fit: cover;
    width: 100%;
}

.carousel-caption {
    bottom: 20px;
}

.carousel-caption a.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.2s, transform 0.2s;
}

.carousel-caption a.btn-primary:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}
/* Botón flotante de WhatsApp */
.floating-icons {
    position: fixed;
    bottom: 25px;
    right: 35px;
    z-index: 1000;
}
.floating-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #25D366;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.floating-icons a:hover {
    transform: scale(1.1);
}
.floating-icons i {
    font-size: 36px;
    color: white;
}
/*------------------------------------------------fin btns flotantes----------*/


/* ---------------------------------Estilos para el modal de la Calculadora de IMC */
#imcModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1050;
}
/*ventana popUp*/
.modal-content {
    background-color: white;
    padding: 30px;
    width: 850px;
    max-width: 90%;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(5, 5, 5, 0.3);
    text-align: center;
    position: relative;
    overflow: hidden;
}
/*bttns de la ventana popUp*/
.modal-content button {
    width: 30%;
    padding: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    font-weight: bold;
}
/*color del btn al posicionar el mouse*/
.modal-content button:hover {
    background-color: #0056b3;
}


/* Contenedor del resultado del IMC */
#resultadoIMC {
    margin-top: 5px;
    text-align: center;
    font-size: 0.5rem;
    font-weight: bold;
}

.close {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 24px;
    cursor: pointer;
    color: rgb(69, 43, 185);
}
/* ---------------------------------------------------------fin modal calculadora imc */


/*----------------------------------- Galería de Imágenes---------surgery.html */

#section-gallery {
    padding: 60px 0;
    text-align: center;
    background-color: #f8f9fa;
}

#section-gallery h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #142396d5;
}

#section-gallery p {
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: #142396d5;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.gallery-item p {
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 0;
    color:#ffffff !important;

}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-item:hover .gallery-item-info {
    opacity: 1;
}

.gallery-item-info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.gallery-item-info p {
    font-size: 1rem;
    margin-bottom: 0;
} /*fin sección galería */


#section-fonasa {
    padding: 60px 0;
    background: url('./assets/img/fondoFNS.jpg') no-repeat center center/cover;
    background-size: cover;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#section-fonasa::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* Superposición semitransparente para mejorar la legibilidad */
    z-index: -1;
}

.fonasa-container {
    position: relative;
    z-index: 1;
    text-align: center;
    color: var(--primary-color);
}

.fonasa-container img {
    max-width: 300px;
    margin-bottom: 20px;
}

.fonasa-container h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--primary-color) !important;
}

.fonasa-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: var(--secondary-color);
}

.fonasa-container h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: red !important;
}

.list-group-item {
    background: transparent;
    border: none;
    font-size: 1.2rem;
    color: red !important;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    background: var(--accent-color);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.btn:hover {
    background: var(--light-accent-color);
}

/* Estilos generales para los procedimientos */
.procedimiento {
    padding: 40px 20px;
    background: rgba(255, 255, 255, 0.493);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.procedimiento h2 {
    font-size: 1.9rem;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.procedimiento p {
    font-size: 1.0rem;
    margin-bottom: 20px;
    color: var(--secondary-color);
    text-align: justify;
}

.procedimiento ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

.procedimiento ul li {
    font-size: 1.0rem;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.procedimiento button {
    font-size: 1.2rem;
    padding: 10px 20px;
    background: var(--accent-color);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.procedimiento button:hover {
    background: var(--light-accent-color);
}

/* Estilos para los videos */
.procedimiento iframe,
.procedimiento video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Botones de navegación entre procedimientos */
#botonesProcedimientos {
    margin-top: 20px;
}

#botonesProcedimientos button {
    margin: 5px;
    font-size: 1rem;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

#botonesProcedimientos button:hover {
    background: var(--tertiary-color);
    color: #ffffff;
}
/* Estilos para la sección de Quiénes Somos */
.about-us-section {
    padding: 60px 0;
    background: url('./assets/img/about-background.jpg') no-repeat center top/cover;
    background-size: cover;
    position: relative;
    border-radius: 10px;
    width: 100%;
}

.about-us-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* Ajustamos la opacidad para mejorar la visibilidad */
    border-radius: 10px;
    z-index: -1;
}

.about-us-content {
    position: relative;
    z-index: 1;
    padding: 40px 20px; /* Aumentamos el padding superior para separar el contenido de la imagen */
    background: rgba(255, 255, 255, 0.9); /* Fondo semitransparente para mejorar la legibilidad */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-us-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.about-us-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: justify;
    color: var(--secondary-color);
}

/* Estilos de la sección Quiénes Somos que incluye mision, vision y valores*/
.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    position: relative;
}

.about-container {
    position: relative;
    width: 85%;
    max-width: 1100px;
    display: flex;
    justify-content: flex-start; /* Mueve la imagen más a la izquierda */
    align-items: center;
    height: 750px;
}

.about-image {
    width: 60%; /* Aumentamos el tamaño de la imagen */
    height: 490px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Overlay que contiene las tarjetas */
.about-overlay {
    position: absolute;
    top: 50%;
    right: 15%; /* Movemos las tarjetas más a la derecha */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 40%; /* Ajustamos para que no sobresalga */
}

/* Tarjetas superpuestas */
.about-card {
    background: #142396d5;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.459);
    width: 650px;
    /*border: 3px solid rgb(114, 104, 104);*/
}

.about-card h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.about-card p {
    font-size: 1.2rem;
    color: #d8d3d3;
}/*fin de about*/
/* Estilos para la sección de videos */
/* Estilos para la sección de videos */
.video-section {
    padding: 60px 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.video-section p {
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: var(--secondary-color);
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-container video,
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* Estilos generales para la sección de estadísticas/ pantalla nosotros */
.statistics-section {
    padding: 60px 0;
    text-align: center;
    background-color: #142396d5;
}

.statistics-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: lighter;
    color: #ffffff;
}

.statistics {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.statistic {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 40px);
    max-width: calc(33.333% - 40px);
    text-align: center;
}

.statistic h3 {
    font-size: 2.5rem;
    color: #142396d5;
    margin-bottom: 10px;
}

.statistic p {
    font-size: 1.2rem;
    margin-bottom: 0;
    color: #142396d5;    
}/* fin de la sección de estadisticas================*/
/* Estilos para la sección de contacto */
.contact-section {
    padding: 60px 0;
    background-color: #90bff14f;
    background-size: cover;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* Superposición semitransparente */
    border-radius: 10px;
    z-index: -1;
}

.contact-info {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: var(--primary-color);
}

.contact-info h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.contact-info p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.contact-info a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-info i {
    margin-right: 10px;
    color: var(--accent-color);
    font-size: 1.5rem;
}

.map-container iframe {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* ================Sección de Servicios Destacados */
.servicios-destacados {
    background: #f8f9fa;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 30px;
}
/* Iconos de Servicios */
.servicios-destacados a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    transition: transform 0.3s ease;
}
.servicios-destacados a img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}
.servicios-destacados a:hover img {
    transform: scale(1.1);
}
.servicios-destacados h5 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: underline;
}
/* Estilos para la sección de redes sociales */
.social-media-section {
    background: var(--primary-color);
    color: #ffffff;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.social-media-section h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--accent-color);
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: var(--secondary-color);
    border-radius: 50%;
    font-size: 1.8rem;
    transition: background 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.social-icon:hover {
    background: var(--accent-color);
    transform: scale(1.1);
}

.social-icon i {
    color: #ffffff;
}
/* Estilos para la sección de testimonios */
.testimonial-section {
    padding: 60px 20px;
    background: var(--primary-color);
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial-section h2 {
    font-size: 2.5rem;
    color: var(--accent-color);
    margin-bottom: 40px;
}

.testimonial-card {
    background: #ffffff;
    color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.testimonial-text {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
}

.testimonial-author {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.testimonial-author img {
    border: 3px solid var(--accent-color);
}

.testimonial-author span {
    font-size: 1rem;
    font-weight: bold;
    color: var(--secondary-color);
}

/* ---------------------------------------------------------Footer */

/* Estilos para el footer */
.main-footer {
    background: var(--primary-color);
    color: #ffffff;
    padding: 40px 0;
    border-top: 5px solid var(--accent-color);
}

.main-footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.footer-column {
    flex: 1 1 30%;
    margin-bottom: 20px;
}

.footer-column h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--accent-color);
}

.footer-links {
    list-style: none;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a{
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: var(--accent-color);
}

.footer-contact p {
    margin-bottom: 10px;
    color: #ffffff;
}

.footer-icons a {
    color: #ffffff;
    font-size: 1.5rem;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.footer-icons a:hover {
    color: var(--accent-color);
}

.footer-column img {
    margin: 0 auto;
    display: block;
    max-width: 150px;
}


/* ===========================MEDIA QUERIES PARA RESPONSIVIDAD */
@media (max-width: 768px) {
    .main-nav {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: rgba(255, 255, 255, 0.9);
        position: absolute;
        top: 100%;
        left: 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .main-nav.show {
        display: flex;
    }

    .nav-list {
        flex-direction: column;
    }

    .nav-item {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .menu-toggle {
        display: block;
    }
    /* fin del header responsive*/
    .carousel img {
        height: 300px;
    }

    .carousel-caption {
        bottom: 10px;
    }

    .carousel-caption a.btn-primary {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
    .modal-content {
        width: 90%;
        padding: 20px;
    }
    .modal-content button {
        width: 75%;
    }
    .card {
        margin-bottom: 20px;
    }

    .card-body {
        padding: 15px;
    }

    .card-title {
        font-size: 1.25rem;
    }

    .card-text {
        font-size: 0.9rem;
        margin-bottom: 15px;
    }

    .btn-primary {
        padding: 8px 16px;
    }

    .img-fluid {
        border-radius: 10px 10px 0 0;
    }
    .footer-column {
        flex: 1 1 100%;
        text-align: center;
    }

    .footer-icons {
        justify-content: center;
    }
    .gallery-item {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
    .video-container {
        margin-bottom: 20px;
    }
    .about-us-content {
        padding: 20px 10px; /* Ajustamos el padding para pantallas pequeñas */
    }

    .about-us-content h2 {
        font-size: 2rem;
    }

    .about-us-content p {
        font-size: 1rem;
    }
    /*seccion que contiene mision, vision y valores*/
    .about-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .about-image {
        width: 90%;
    }

    .about-overlay {
        position: static;
        transform: none;
        width: 100%;
        align-items: center;
    }

    .about-card {
        width: 90%;
        text-align: center;
    }
    .statistic {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
    .procedimiento {
        padding: 20px 10px;
    }

    .procedimiento h2 {
        font-size: 2rem;
    }

    .procedimiento p {
        font-size: 1rem;
    }

    .procedimiento ul li {
        font-size: 1rem;
    }

    .procedimiento button {
        font-size: 1rem;
        padding: 8px 16px;
    }

    #botonesProcedimientos button {
        font-size: 0.9rem;
        padding: 6px 12px;
    }
    .servicios-destacados {
        padding: 30px;
    }

    .servicio-item img {
        width: 70px;
        height: 70px;
    }

    .servicio-item h5 {
        font-size: 16px;
    }
    
    .social-media-section {
        padding: 30px 15px;
    }

    .social-media-section h3 {
        font-size: 1.8rem;
    }

    .social-icon {
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }
    
    .contact-container {
        flex-direction: column;
        align-items: center;
    }
    .floating-icons a {
        width: 65px;
        height: 65px;
    }

    .floating-icons i {
        font-size: 30px;
    }
    .contact-info {
        margin-top: 20px;
    }
    .testimonial-section h2 {
        font-size: 2rem;
    }

    .testimonial-card {
        padding: 20px;
    }

    .testimonial-text {
        font-size: 1rem;
    }

    .testimonial-author span {
        font-size: 0.9rem;
    }
    #section-fonasa {
        padding: 40px 20px;
    }

    .fonasa-container h2 {
        font-size: 2rem;
    }

    .fonasa-container p {
        font-size: 1rem;
    }

    .fonasa-container h3 {
        font-size: 1.5rem;
    }

    .btn {
        font-size: 1rem;
    }
    .contact-section {
        padding: 40px 20px;
    }

    .contact-info h2 {
        font-size: 2rem;
    }

    .contact-info p {
        font-size: 1rem;
    }

    .contact-info i {
        font-size: 1.2rem;
    }

    .map-container iframe {
        height: 250px;
    }
}

@media (max-width: 576px) {
    .nav-link {
        font-size: 0.9rem;
    }

    header img {
        height: 40px;
    }
    .card-body {
        padding: 10px;
    }

    .card-title {
        font-size: 1rem;
    }

    .card-text {
        font-size: 0.8rem;
        margin-bottom: 10px;
    }

    .btn-primary {
        padding: 6px 12px;
    }
    .carousel img {
        height: 200px;
    }

    .carousel-caption {
        bottom: 5px;
    }

    .carousel-caption a.btn-primary {
        padding: 6px 12px;
        font-size: 0.8rem;
    }
    .footer-column h3 {
        font-size: 0.9rem;
    }

    .footer-column p {
        font-size: 0.9rem;
    }

    .footer-column ul li a {
        font-size: 0.9rem;
    }

    .footer-icons a {
        font-size: 20px;
    }
    .statistic {
        flex: 1 1 100%;
        max-width: 100%;
    }
    .gallery-item {
        flex: 1 1 100%;
        max-width: 100%;
    }
    .procedimiento h2 {
        font-size: 1.8rem;
    }

    .procedimiento p {
        font-size: 0.9rem;
    }

    .procedimiento ul li {
        font-size: 0.9rem;
    }

    .procedimiento button {
        font-size: 0.9rem;
        padding: 6px 12px;
    }

    #botonesProcedimientos button {
        font-size: 0.8rem;
        padding: 5px 10px;
    }
    .social-media-section h3 {
        font-size: 1.5rem;
    }

    .social-icon {
        width: 40px;
        height: 40px;
        font-size: 1.2rem;
    }
    .testimonial-section h2 {
        font-size: 1.8rem;
    }

    .testimonial-card {
        padding: 15px;
    }

    .testimonial-text {
        font-size: 0.9rem;
    }

    .testimonial-author span {
        font-size: 0.8rem;
    }
}

