/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; /* Negrita */
}

p {
    
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}
/* Estilos generales para el header */
.main-header {
    background: linear-gradient(to right, #ffffff, #4d92dd);
    padding: 15px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1050;
    height: 150px;
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 100px;
    width: 160px;
}

.main-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin-left: 20px;
    position: relative;
}

.nav-link {
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ffd700;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(152, 193, 240, 0.9);
    border: none;
    backdrop-filter: blur(10px);
    list-style: none;
    padding: 10px;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    color: white;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
}

.dropdown-item:hover {
    background: transparent;
    color: #ffd700;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* Estilos para el menú móvil */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 28px;
    color: #333;
}

.menu-icon {
    width: 30px;
    height: 3px;
    background-color: #333;
    display: block;
    position: relative;
    transition: all 0.3s;
}

.menu-icon::before,
.menu-icon::after {
    content: '';
    width: 30px;
    height: 3px;
    background-color: #333;
    display: block;
    position: absolute;
    transition: all 0.3s;
}

.menu-icon::before {
    top: -10px;
}

.menu-icon::after {
    bottom: -10px;
}
/*fin header*/

html {
    scroll-behavior: smooth;
}
/* Estilos para las tarjetas de los asesores */
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 100%;
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1f255f;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: #555;
    text-align: justify;
    flex-grow: 1;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.2s, transform 0.2s;
}

.btn-primary:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.img-fluid {
    border-radius: 10px 0 0 10px;
}

.text-center {
    margin-bottom: 40px;
    margin-top: 60px;
}

/*fin de asesores*/
/* Carousel */
.carousel img {
    height: 500px;
    object-fit: cover;
    width: 100%;
}

.carousel-caption {
    bottom: 20px;
}

.carousel-caption a.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.2s, transform 0.2s;
}

.carousel-caption a.btn-primary:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}
/* Botón flotante de WhatsApp */
.floating-icons {
    position: fixed;
    bottom: 25px;
    right: 35px;
    z-index: 1000;
}
.floating-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #25D366;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.floating-icons a:hover {
    transform: scale(1.1);
}
.floating-icons i {
    font-size: 36px;
    color: white;
}
/*------------------------------------------------fin btns flotantes----------*/


/* ---------------------------------Estilos para el modal de la Calculadora de IMC */
#imcModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1050;
}
/*ventana popUp*/
.modal-content {
    background-color: white;
    padding: 30px;
    width: 850px;
    max-width: 90%;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(5, 5, 5, 0.3);
    text-align: center;
    position: relative;
    overflow: hidden;
}
/*bttns de la ventana popUp*/
.modal-content button {
    width: 30%;
    padding: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    font-weight: bold;
}
/*color del btn al posicionar el mouse*/
.modal-content button:hover {
    background-color: #0056b3;
}


/* Contenedor del resultado del IMC */
#resultadoIMC {
    margin-top: 5px;
    text-align: center;
    font-size: 0.5rem;
    font-weight: bold;
}

.close {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 24px;
    cursor: pointer;
    color: rgb(69, 43, 185);
}
/* ---------------------------------------------------------fin modal calculadora imc */


/*----------------------------------- Galería de Imágenes---------surgery.html */

#section-gallery {
    padding: 60px 0;
    text-align: center;
    background-color: #f8f9fa;
}

#section-gallery h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #142396d5;
}

#section-gallery p {
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: #142396d5;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.gallery-item p {
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 0;
    color:#ffffff !important;

}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-item:hover .gallery-item-info {
    opacity: 1;
}

.gallery-item-info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.gallery-item-info p {
    font-size: 1rem;
    margin-bottom: 0;
} /*fin sección galería */


/*========================================SECCIÓN BONO PAD DE FONASA */
#section-fonasa {
    background-color: #ffffff;
    padding: 50px 0;
    text-align: center;
}

#section-fonasa .fonasa-container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background: rgba(181, 185, 243, 0.603);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#section-fonasa img {
    width: 250px;
    margin-bottom: 15px;
}

#section-fonasa .fonasa-container ul li {
    font-size: 1.4rem;
    color: #f80909;
    background-color: rgba(195, 198, 238, 0.692);
    text-align: center;
}
#section-fonasa .fonasa-info {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.6;
    text-align: center;
}
#section-fonasa .btn {
    margin-top: 20px;
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s;
}

#section-fonasa .btn:hover {
    background-color: #0056b3;
}

/* Estilos generales para la sección de procedimientos */
#procedimientoSection {
    background: #e4f16de3; /* Fondo suave */
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

/* Estilos para el título */
#nombreProcedimiento {
    font-size: 28px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 20px;
}
#procedimientoSection.container.mt-5{
    background-color:#aaaaa852;;
    margin-bottom: 45px;
}
/* E.stilos para la descripción del procedimiento */
#procedimientoSection .col-md-6 p {
    font-size: 17px;
    color: #333;
    line-height: 1.2;
    text-align: justify;
}
#procedimientoSection.container.mt-5 video{
        height: 450px;
        width: max-content;
        --bs-gutter-x: 10.9rem;
    }


/* Botón de contacto */
#procedimientoSection .btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 25px;
    transition: 0.3s;
    align-items: center;

}

#procedimientoSection .btn-primary:hover {
    background-color: #0056b3;
}

/* Video del procedimiento 
#videoProcedimiento {
    width: 100%;
    max-height: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}*/

/* Estilos para los botones de navegación */
#botonesProcedimientos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

#botonesProcedimientos button {
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid #007bff;
    background: transparent;
    color: #007bff;
    transition: 0.3s;
}

#botonesProcedimientos button:hover {
    background: #007bff;
    color: #fff;
}
/* Estilos para la sección de Quiénes Somos */
.about-us-section {
    padding: 20px 0;
    background: url('./assets/img/logoBariatric.png') no-repeat center top/cover;
    background-size: cover;
    position: relative;
    border-radius: 10px;
    width: 100%;
}

.about-us-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* Ajustamos la opacidad para mejorar la visibilidad */
    border-radius: 10px;
    z-index: -1;
}

.about-us-content {
    position: relative;
    z-index: 1;
    padding: 40px 20px; /* Aumentamos el padding superior para separar el contenido de la imagen */
    background: rgba(255, 255, 255, 0.9); /* Fondo semitransparente para mejorar la legibilidad */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-us-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-us-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: justify;
}

/* Estilos de la sección Quiénes Somos que incluye mision, vision y valores*/
.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    position: relative;
}

.about-container {
    position: relative;
    width: 85%;
    max-width: 1100px;
    display: flex;
    justify-content: flex-start; /* Mueve la imagen más a la izquierda */
    align-items: center;
    height: 750px;
}

.about-image {
    width: 60%; /* Aumentamos el tamaño de la imagen */
    height: 490px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Overlay que contiene las tarjetas */
.about-overlay {
    position: absolute;
    top: 50%;
    right: 15%; /* Movemos las tarjetas más a la derecha */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 40%; /* Ajustamos para que no sobresalga */
}

/* Tarjetas superpuestas */
.about-card {
    background: #142396d5;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.459);
    width: 650px;
    /*border: 3px solid rgb(114, 104, 104);*/
}

.about-card h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.about-card p {
    font-size: 1.2rem;
    color: #d8d3d3;
}/*fin de about*/
/* Estilos para la sección de videos */
/* Estilos para la sección de videos */
.video-section {
    padding: 60px 0;
    text-align: center;
    background-color: #f8f9fa;
}

.video-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.video-section p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-container video,
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
/* Estilos generales para la sección de estadísticas/ pantalla nosotros */
.statistics-section {
    padding: 60px 0;
    text-align: center;
    background-color: #142396d5;
}

.statistics-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: lighter;
    color: #ffffff;
}

.statistics {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.statistic {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 40px);
    max-width: calc(33.333% - 40px);
    text-align: center;
}

.statistic h3 {
    font-size: 2.5rem;
    color: #142396d5;
    margin-bottom: 10px;
}

.statistic p {
    font-size: 1.2rem;
    margin-bottom: 0;
    color: #142396d5;    
}/* fin de la sección de estadisticas================*/
/* Estilos para la sección de contacto */
.contact-section {
    padding: 60px 0;
    background: url('./assets/img/fondoContact.jpg') no-repeat center center/cover;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    width: 100%;
}

.contact-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(199, 199, 197, 0.63); /* Ajustamos la opacidad para mejorar la visibilidad */
    border-radius: 10px;
    z-index: -1;
}

.contact-info {
    padding: 20px;
    background: transparent;
    border-radius: 10px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

.contact-info h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #142396d5;
}

.contact-info p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.contact-info a {
    color: #142396d5;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-info i {
    margin-right: 10px;
    color: #142396d5;
}

.map-container {
    margin-top: 20px;
    border-radius: 20px;
    overflow: hidden;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}
/* fin sección de contacto */

/* ================Sección de Servicios Destacados */
.servicios-destacados {
    background: #f8f9fa;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 30px;
}
/* Iconos de Servicios */
.servicios-destacados a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    transition: transform 0.3s ease;
}
.servicios-destacados a img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}
.servicios-destacados a:hover img {
    transform: scale(1.1);
}
.servicios-destacados h5 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: underline;
}
/* Sección de Redes Sociales */
.redes-sociales {
    background: #007bff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    height: 200px;
}
.redes-sociales h3 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 35px;
}
.redes-sociales .social-icons {
    display: flex;
    justify-content: center;
    gap: 100px; /* Mayor separación entre los iconos */
}

.redes-sociales a {
    color: white;
    font-size: 28px;
    transition: transform 0.3s, color 0.3s;
}

.d-flex a:hover {
    color: #ffd700;
    transform: scale(1.2);
}
/* Estilos para la sección de testimonios */
.testimonials-section {
    padding: 60px 0;
    text-align: center;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonials-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.testimonials-section p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.testimonial-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: left;
}

.testimonial-img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
}

.blockquote {
    font-size: 1rem;
    margin-bottom: 0;
}

.blockquote-footer {
    font-size: 0.9rem;
    color: #6c757d;
}
/* ---------------------------------------------------------Footer */

footer {
    background: linear-gradient(to right, #ffffff, #4d92dd);
    color: rgb(0, 0, 0);
    padding: 20px 15px;
    text-align: left;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-column h3 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #000000;
}

.footer-column p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
    color: #000000;
    text-align: left;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column img {
    height: 110px;
    width: 120px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #201c1c;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #4422a3;
}

/* Estilos para la sección de contacto */
.footer-contact {
    font-size: 0.9rem;
    color: #050505;
}

.footer-contact a {
    color: #262f51d6;
    text-decoration: none;
}

.footer-contact a:hover {
    text-decoration: underline;
}

/* Redes sociales */
.footer-icons {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 15px;
}

.footer-icons a {
    color: #262f51d6;
    font-size: 24px;
    transition: transform 0.3s, color 0.3s;
}

.footer-icons a:hover {
    color: #007bff;
    transform: scale(1.1);
}


/* ===========================MEDIA QUERIES PARA RESPONSIVIDAD */
@media (max-width: 768px) {
    .main-nav {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: rgba(255, 255, 255, 0.9);
        position: absolute;
        top: 100%;
        left: 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .main-nav.show {
        display: flex;
    }

    .nav-list {
        flex-direction: column;
    }

    .nav-item {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .menu-toggle {
        display: block;
    }
    /* fin del header responsive*/
    .carousel img {
        height: 300px;
    }

    .carousel-caption {
        bottom: 10px;
    }

    .carousel-caption a.btn-primary {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
    .modal-content {
        width: 90%;
        padding: 20px;
    }
    .modal-content button {
        width: 75%;
    }
    .card {
        margin-bottom: 20px;
    }

    .card-body {
        padding: 15px;
    }

    .card-title {
        font-size: 1.25rem;
    }

    .card-text {
        font-size: 0.9rem;
        margin-bottom: 15px;
    }

    .btn-primary {
        padding: 8px 16px;
    }

    .img-fluid {
        border-radius: 10px 10px 0 0;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .footer-column {
        margin-bottom: 20px;
        text-align: center;
    }
    .footer-column img {
        margin: 0 auto;
    }
    .gallery-item {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
    .video-container {
        margin-bottom: 20px;
    }
    .about-us-content {
        padding: 20px 10px; /* Ajustamos el padding para pantallas pequeñas */
    }

    .about-us-content h2 {
        font-size: 2rem;
    }

    .about-us-content p {
        font-size: 1rem;
    }
    /*seccion que contiene mision, vision y valores*/
    .about-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .about-image {
        width: 90%;
    }

    .about-overlay {
        position: static;
        transform: none;
        width: 100%;
        align-items: center;
    }

    .about-card {
        width: 90%;
        text-align: center;
    }
    .statistic {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
    #procedimientoSection {
        padding: 20px;
    }

    #nombreProcedimiento {
        font-size: 24px;
    }

    #descripcionProcedimiento {
        font-size: 16px;
    }

    #botonesProcedimientos button {
        font-size: 14px;
        padding: 6px 12px;
    }
    .servicios-destacados {
        padding: 30px;
    }

    .servicio-item img {
        width: 70px;
        height: 70px;
    }

    .servicio-item h5 {
        font-size: 16px;
    }
    
    .redes-sociales .social-icons {
        gap: 20px;
    }
    .redes-sociales a {
        font-size: 24px;
    }
    
    .contact-container {
        flex-direction: column;
        align-items: center;
    }
    .floating-icons a {
        width: 65px;
        height: 65px;
    }

    .floating-icons i {
        font-size: 30px;
    }
    .contact-info {
        margin-top: 20px;
    }
    .testimonial-card {
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .nav-link {
        font-size: 0.9rem;
    }

    header img {
        height: 40px;
    }
    .card-body {
        padding: 10px;
    }

    .card-title {
        font-size: 1rem;
    }

    .card-text {
        font-size: 0.8rem;
        margin-bottom: 10px;
    }

    .btn-primary {
        padding: 6px 12px;
    }
    .carousel img {
        height: 200px;
    }

    .carousel-caption {
        bottom: 5px;
    }

    .carousel-caption a.btn-primary {
        padding: 6px 12px;
        font-size: 0.8rem;
    }
    .footer-column h3 {
        font-size: 0.9rem;
    }

    .footer-column p {
        font-size: 0.9rem;
    }

    .footer-column ul li a {
        font-size: 0.9rem;
    }

    .footer-icons a {
        font-size: 20px;
    }
    .statistic {
        flex: 1 1 100%;
        max-width: 100%;
    }
    .gallery-item {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

